/*MAIN*/
.Main {
	grid-area: main;
	display: inline-grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas:
		"piccante giardino prosciutto formaggi"
		"stagioni stromboli verde rustica";
	grid-gap: 1em;
	padding: 1em;
	color: #F4E87C;
}

.Piccante {
	grid-area: piccante;
	display: inline-grid;
	grid-template-columns: 4fr 1fr 1fr;
	grid-template-rows: 80% 12% 8%;
	grid-template-areas:
		"image image image"
		"title price buy"
		"description description description";
	background-color: #EF7B45;
}

.Giardino {
	grid-area: giardino;
	display: inline-grid;
	grid-template-columns: 4fr 1fr 1fr;
	grid-template-rows: 80% 12% 8%;
	grid-template-areas:
		"image image image"
		"title price buy"
		"description description description";
	background-color: #EF7B45;
}

.Prosciutto {
	grid-area: prosciutto;
	display: inline-grid;
	grid-template-columns: 4fr 1fr 1fr;
	grid-template-rows: 80% 12% 8%;
	grid-template-areas:
		"image image image"
		"title price buy"
		"description description description";
	background-color: #EF7B45;
}

.Formaggi {
	grid-area: formaggi;
	display: inline-grid;
	grid-template-columns: 4fr 1fr 1fr;
	grid-template-rows: 80% 12% 8%;
	grid-template-areas:
		"image image image"
		"title price buy"
		"description description description";
	background-color: #EF7B45;
}

.Stagioni {
	grid-area: stagioni;
	display: inline-grid;
	grid-template-columns: 4fr 1fr 1fr;
	grid-template-rows: 80% 12% 8%;
	grid-template-areas:
		"image image image"
		"title price buy"
		"description description description";
	background-color: #EF7B45;
}

.Stromboli {
	grid-area: stromboli;
	display: inline-grid;
	grid-template-columns: 4fr 1fr 1fr;
	grid-template-rows: 80% 12% 8%;
	grid-template-areas:
		"image image image"
		"title price buy"
		"description description description";
	background-color: #EF7B45;
}

.Verde {
	grid-area: verde;
	display: inline-grid;
	grid-template-columns: 4fr 1fr 1fr;
	grid-template-rows: 80% 12% 8%;
	grid-template-areas:
		"image image image"
		"title price buy"
		"description description description";
	background-color: #EF7B45;
}

.Rustica {
	grid-area: rustica;
	display: inline-grid;
	grid-template-columns: 4fr 1fr 1fr;
	grid-template-rows: 80% 12% 8%;
	grid-template-areas:
		"image image image"
		"title price buy"
		"description description description";
	background-color: #EF7B45;
}

.Image {
	grid-area: image;
}

.Title {
	grid-area: title;
	background-color: #EF7B45;
  	text-align: center;
  	align-self: center;
}

.Price {
	grid-area: price;
	background-color: #EF7B45;
	align-self: center;
}

.Buy {
	grid-area: buy;
	background-color: #EF7B45;
	text-align: center;
	align-self: center;
}

.Description {
	grid-area: description;
	background-color: #EF7B45;
	font-size: small;
	align-self: center;
  	text-align: center;
}